<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/home/style.css">
    <title>Fashion GAN!</title>
  </head>
  <!-- <body class="*">
    
  </body> -->
  <body style="background-color:rgba(0, 0, 0, 0.774);">
    <!-- <header style="background-color: cornflowerblue; bottom:5px; top: 5px;left: 5px; width:100%; height: 5rem; display: flex; justify-content:space-between;align-items: center;"> -->
    <header class="inline-elements">
      <b>FashionGAN</b> <b>Imaginations</b> 
    </header>
    <div class="container" style="background-color: rgba(0, 0, 0, 0.781);">
      <div class="row">
        <div class="col" style="border-style:none;border-left: 5px solid skyblue; box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);background-color: white;">
          <h3>User Input Section</h3>
          <label for="myimage">Select your own image:</label><br>
          <input type="file" id="myimage" name="myimage"> <br>
          <label for="myimage">Select an image of the outfit:</label><br>
          <input type="file" id="outfitimage" name="outfitimage">
        </div>
        <div class="col" style="border-style: none; border-left: 5px solid skyblue; box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4); background-color: white;">
          <h3>GAN Output Section</h3>
          <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  Cras sit amet nibh libero, in gravida nulla.
                </div>
              </li>
              <li class="media my-4">
                <img class="mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  Cras sit amet nibh libero, in gravida nulla.
                </div>
              </li>
              <li class="media">
                <img class="mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  Cras sit amet nibh libero, in gravida nulla. 
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div><footer style="text-align: center;"><b>Powered by NAVTTC-AI</b> </footer></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>